body{
    margin:0;
    background:#050505;
    font-family: Arial;
    color:#00ffcc;
}

.header{
    background:black;
    text-align:center;
    padding:20px;
    border-bottom:2px solid #00ffcc;
}

.header h1{
    color:red;
    text-shadow:0 0 10px red;
}

.container{
    padding:15px;
}

h2{
    color:#00ffcc;
    border-left:5px solid red;
    padding-left:10px;
    margin-top:25px;
}

a{
    display:block;
    background:#111;
    margin:8px 0;
    padding:10px;
    text-decoration:none;
    color:white;
    border-left:3px solid #00ffcc;
    transition:0.3s;
}

a:hover{
    background:#00ffcc;
    color:black;
    transform:scale(1.05);
}

footer{
    text-align:center;
    padding:15px;
    background:black;
    margin-top:30px;
    color:#888;
}
