body {
margin:0;
font-family: Arial;
background:#0a0f1c;
color:white;
}

header{
background:linear-gradient(90deg,#00c6ff,#0072ff);
text-align:center;
padding:25px;
}

.container{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
gap:15px;
padding:20px;
}

.card{
background:#111827;
border-radius:12px;
padding:15px;
box-shadow:0 0 15px rgba(0,255,255,0.2);
}

.card h2{
color:#00e5ff;
border-bottom:1px solid #00e5ff;
padding-bottom:5px;
}

.card a{
display:block;
text-decoration:none;
color:white;
background:#1f2937;
margin:8px 0;
padding:10px;
border-radius:6px;
transition:0.3s;
}

.card a:hover{
background:#00e5ff;
color:black;
}

footer{
text-align:center;
padding:15px;
background:#000;
margin-top:20px;
}
